/*Buttons*/

.btn{
	padding:10px 20px;
	border-radius: 5px;
	text-decoration: none;
	margin:5px;
	text-align: center;
}

.btn-warm{
	background: #faed26;
	color: #222629;
}

.btn-warm-outline, .btn-warm:hover{
	background: #222629;
	color:#faed26;
	border:1px solid #faed26;
}