/* Styles that will affect all the apps pages*/
	*{
		box-sizing: border-box;
	}

	/*colors or site*/

	.bg-dark{
		background: #222629;
	}

	.bg-warm{
		background:#faed26;
	}

	.text-dark{
		color: #222629;
	}

	.text-warm{
		color: #faed26;
	}

	.text-white{
		color: #fff;
	}

html{
	font-family: Arial, Helvetica, sans-serif,
	line-height:1.5;
}

body{
	margin:0;
	padding:0;
	font-size: 16px;
	width:100vw;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
ol,
ul
 {
  margin-top: 0;
  margin-bottom: 0;
}

.container{
	width:85%;
	margin:auto;
}

.container-max{
	width:100%;
}

.left-float{
	float: left;
}

.right-float{
	float: right;
}

.display-hide{
	display:none;
}